<BottomBar index="3">
    <GridLayout rows="250, *">
        <Image
            height="250"
            stretch="fill"
            src="https://www.marketingdonut.co.uk/sites/default/files/what-should-you-include-professional-profile142825543.jpg"
        >
        </Image>
        <CardView
            margin="10"
            marginTop="-100"
            row="1"
            radius="10"
            ios:style="background-color: white;"
        >
            <StackLayout padding="15">
                <StackLayout orientation="horizontal">
                    <Label
                        class="fa"
                        text="&#xf2c0;"
                        color="#454F63"
                        marginRight="20"
                    ></Label>
                    <TextField
                        placeHolderColor="#454F63"
                        hint="Name"
                    ></TextField>
                </StackLayout>
                <StackLayout class="line"></StackLayout>
                <StackLayout marginTop="5%" orientation="horizontal">
                    <Label
                        class="fa"
                        text="&#xf003;"
                        color="#454F63"
                        marginRight="20"
                    ></Label>
                    <TextField
                        placeHolderColor="#454F63"
                        hint="Email"
                    ></TextField>
                </StackLayout>
                <StackLayout class="line"></StackLayout>
                <StackLayout marginTop="5%" orientation="horizontal">
                    <Label
                        class="fa"
                        text="&#xf13e;"
                        color="#454F63"
                        marginRight="20"
                    ></Label>
                    <TextField
                        placeHolderColor="#454F63"
                        hint="Password"
                    ></TextField>
                </StackLayout>
                <StackLayout class="line"></StackLayout>
                <Button
                    marginTop="10%"
                    class="button-outline green"
                    text="Update"
                ></Button>
            </StackLayout>
        </CardView>
    </GridLayout>
</BottomBar>
