@import "./styles/login";
@import "./styles/bottom-bar";

.fa {
    font-family: "FontAwesome";
}

.title {
    font-size: 42;
    color: white;
    font-weight: bold;
}

.white-box {
    border-radius: 10;
    background-color: white;
}

.tf-gray {
    font-size: 16;
    border-radius: 5;
    opacity: 0.5;
    padding-left: 25;

    background-color: $color_gray_light;
    background-repeat: no-repeat;
    background-position: 1% 50%;
    &.user {
        background-image: url("res://ic_user");
        placeholder-color: $color_violet;
    }
    &.user-green {
        background-image: url("res://ic_user_green");
        placeholder-color: $color_green;
    }
    &.email-green {
        background-image: url("res://ic_mail_green");
        placeholder-color: $color_green;
    }
    &.password {
        background-image: url("res://ic_password");
        placeholder-color: $color_violet;
    }
    &.password-green {
        background-image: url("res://ic_password_green");
        placeholder-color: $color_green;
    }
}

.button {
    width: 150;
    height: 45;
    border-radius: 12;
    &.button-one {
        color: white;
        background-color: $color_violet;
    }
    &.button-second {
        background-color: $color_green;
    }
    &.button-three {
        color: $color_green;
        background-color: white;
    }
    &.arrow {
        background-image: url("res://arrow");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.button-outline {
    border-width: 1;
    border-radius: 5;
    background-color: white;
    width: 50;
    height: 50;
    &.google {
        border-color: $color_pink;
        background-image: url("res://ic_google");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &.facebook {
        border-color: $color_blue;
        background-image: url("res://ic_facebook");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &.green {
        color: $color_green;
        border-color: $color_green;
        width: 80%;
    }
    &.gray {
        color: gray;
        border-color: gray;
        width: 80%;
    }
}

.line {
    height: 1;
    background-color: #454f63;
    width: 100%;
    margin-top: 5;
    margin-bottom: 5;
}
