@import "./styles/login";

.title {
    font-size: 42;
    color: white;
    font-weight: bold;
}

.white-box {
    border-radius: 10;
    background-color: white;
}

.tf-gray {
    font-size: 16;
    border-radius: 5;
    opacity: 0.5;
    padding-left: 25;
    placeholder-color: $color_violet;
    background-color: $color_gray_light;
    &.user {
        background-image: url("res://ic_user");
        background-repeat: no-repeat;
        background-position: 1% 50%;
    }
    &.password {
        background-image: url("res://ic_password");
        background-repeat: no-repeat;
        background-position: 1% 50%;
    }
}

.button {
    width: 150;
    height: 45;
    border-radius: 12;
    &.button-one {
        color: white;
        background-color: $color_violet;
    }
    &.button-second {
        background-color: $color_green;
    }
    &.button-three {
        color: $color_green;
        background-color: white;
    }
    &.arrow {
        background-image: url("res://arrow");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}
