<GridLayout rows="*, 50">
    <ng-content row="0"></ng-content>
    <!-- Tabs -->
    <FlexboxLayout row="1" class="bottom-bar-line">
        <StackLayout width="25%" verticalAlignment="center">
            <Image
                horizontalAlignment="center"
                stretch="none"
                src="res://ic_home"
            ></Image>
        </StackLayout>
        <StackLayout width="25%" verticalAlignment="center">
            <Image
                horizontalAlignment="center"
                stretch="none"
                src="res://ic_wood"
            ></Image>
        </StackLayout>
        <StackLayout width="25%" verticalAlignment="center">
            <Image
                horizontalAlignment="center"
                stretch="none"
                src="res://ic_bell"
            ></Image>
        </StackLayout>
        <StackLayout width="25%" verticalAlignment="center">
            <Image
                horizontalAlignment="center"
                stretch="none"
                src="res://ic_user_"
            ></Image>
        </StackLayout>
    </FlexboxLayout>
</GridLayout>
